<!-- inside  da kuo hao is partials data, handlebar first look at the helper with name,
if not helper will get pieces of data with that name  -->

<footer>
  <p> Created by Xiao Xiao Zheng - Copyright {{getCurrentYear}}</p>
</footer>
